
body {

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    font-family: monospace;
    font-style: oblique;
}

.calculator {

    height: 160px;
    padding: 16px;
    background-color:grey;
    border: solid black 1px;
}
.digitline {
   
}

.display {
    background-color:darkseagreen;
    height: 32px;
    margin-bottom: 4px;
    display: flex;
    align-items:center;
    justify-content:center;
}

.pdisplay {
    margin-left: 8px;
    color: white;
    font-size: 16px;
    
}

.digits {
    /* Establece márgenes y rellenos en cero para el contenedor */
    margin: 0;
    padding: 0;
}

.digitline {
    padding: 0px;
    margin: 0px;
}

button {
    height: 32px ;
    width: 32px;
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    font-style: oblique;
    
}

